.detail {
    margin: 0;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; /* momentaneo */
  }
  
  .card {
    /* background-color: rgb(23, 110, 23); */
    margin: 15px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: rgba(240, 234, 234, 0.42);
  }
  
  .image {
    margin: 3px;
  }
  
  .image img {
    border-radius: 15px;
  }
  
  .detailInfo {
    /* background-color: aliceblue; */
    height: 300px;
    margin-right: 15px;
    display: grid;
    align-content: stretch;
    align-items: start;
    justify-items: start;
  }
  
  .name {
    font-size: 30px;
  }
  
  .info {
    margin: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
  }
  
  .info ul {
    list-style: none;
    display: grid;
    justify-items: start;
    justify-content: start;
    margin-bottom: 15px;
    padding: 0;
  }
  
  .info li {
    margin: 5px;
  }
  
  .info span {
    display: flex;
  }
  
  .description {
    text-align: justify;
    margin-right: 15px;
  }
  
  .price {
    display: grid;
    align-content: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: hotpink;
    /* padding: 10px; */
    border-radius: 5px;
  }
  
  .review {
    margin: 25px;
    border-radius: 3px;
    background-color: rgb(23, 110, 23);
    display: grid;
    justify-items: start;
  }
  
  .review h4 {
    color: aliceblue;
    font-size: 22px;
    margin-left: 10px;
  }
  
  .comment {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
  }
  
  .userData {
    display: flex;
  }
  
  .userReview {
    margin-right: 20px;
    /* border: 1px solid black; */
    display: grid;
  }
  
  .userList {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 5px 10px;
    font-weight: bold;
  }
  
  .userReview p {
    font-weight: lighter;
    font-size: 18px;
    text-align: justify;
    margin: 0 10px;
  }
  
  .profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  