/* @import '~antd/dist/antd.css'; */

.detail {
  /* background-color: #242529; */
  /* background-image: url(https://images.unsplash.com/photo-1473075109809-7a17d327bdf6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); */
  background-color: #242529;
  /* background-repeat: none; */
  /* object-fit: cover; */
  color: white;
  text-align: left;
  font-size: 16px;
  display: grid;
  justify-items: center;
  min-height: calc(100vh - 136px);
}

.detail p {
  font-size: 16px;
  margin: 0;
}

.detail h3 {
  font-size: 25px;
  margin: 0;
}

.detail button {
  font-size: 16px;
}

.card {
  /* background-color: rgba(0, 0, 0, 0.575); */
  width: 100%;
  margin-top: 30px;
  display: inline-grid;
  justify-items: center;
}

.cardContainer {
  width: 90%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.image {
  display: flex;
}

.image img {
  height: 350px;
  width: auto;
  object-fit: cover;
  border-radius: 20px;
}

.info {
  height: 350px;
  margin-left: 20px;
  margin-top: 10px;
  width: 100%;
  /* overflow: scroll; */
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h3{
  font-size: 50px;
}

.button {
  width: 25px;
  height: 25px;
  transition: all 300ms ease;
}

.button:hover{
  transform: rotate(180deg);
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.content ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  /* font-style: italic; */
  display: flex;
  flex-direction: column;
  gap: 10px
}

.content li {
  margin: 7px;
}

.facilities {
  display: flex;
}

.facilitieIcon {
  background-color: rgb(212, 212, 212);
  border-radius: 50%;
  padding: 4px;
  display: grid;
}

.description {
  margin-top: 18px;
  text-align: start;
  display: flex;
  align-items: center;
}

.description p {
  font-size: 18px;
  /* overflow: scroll; */
}

.price {
  display: grid;
  justify-items: center;
  margin-bottom: 3px;
  gap: 10px
}

.price p {
  margin-bottom: 7px;
  font-size: 25px;
  text-align: right;
  width: 100%;
}

.price a {
  /* padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease 0s; 
  cursor: pointer; 
  outline: none;
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  text-align: center;
  width: 110px;
  margin: 0 10px;
}

.price a:hover {
  /* background-color: #23c483; */
  /* color: #fff; */
  margin: 0;
  width: 130px;
  border-radius: 20px;
}

.price button:active {
  transform: translateY(-1px);
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer; 
  outline: none;
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 50%;
  border: none;
}

/* -------------------------------------------------------------------- */
.review {
  width: 80%;
  margin: 80px 0;
  /* background-color: hotpink; */
}

.container {
  /* max-height: 450px; */
  /* overflow: scroll; */
  margin-bottom: 30px;
  border-radius: 30px;
  /* background-color: rgba(0, 0, 0, 0.575); */
}

.comment {
  border-radius: 30px;
  border: 3px solid #404040;
  /* margin: 20px; */
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
}

.commentData {
  padding: 20px;
}

.userData {
  border-radius: 25px 25px 0 0;
  background-color: #404040;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 0;
}

.userData p {
  margin: 0 15px;
}

.user {
  display: flex;
  align-items: center;
}

.profile {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-bottom: 3px;
  border-radius: 50%;
  object-fit: cover;
}

/* -------------------------------------------------------------------- */
.yourComment {
  display: grid;
  justify-items: start;
  background-color: #404040;
  border-radius: 30px;
  padding: 15px;
}

.textarea {
  background-color: #1C1C1C;
  color: white;
  border: none;
  outline: none;
  resize: none;
  min-width: 80%;
  min-height: 100px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
}

.yourComment button{
  cursor: pointer; 
  outline: none;
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  width: 120px;
  margin: 0 10px;
  transition: all 300ms ease;
}

.yourComment button:hover{
  width: 140px;
  margin: 0;
  border-radius: 30px;
}

.modal_main{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modal_box{
  width: max-content;
  height: max-content;
  padding: 40px;
  background-color: #242529;
  border-radius: 30px;
  color: white;
}

.modal_box p{
  font-size: 20px;
  margin-bottom: 30px;
}

.modal_box h1{
  margin: 20px 0;
  font-size: 50px; 
  animation: check 500ms ease-out;
}

@keyframes check{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.modal_btns{
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.modal_btns button{
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.modal_btns button:hover{
  padding: 8px 40px;
  border-radius: 30px;
}

.login{
  color: gray;
  text-decoration: none;
  transition: all 300ms ease;
}

.login:hover{
  color: white;
  cursor: pointer;
}