.wrapper {
    display: flex;
    /* height: 100vh; */
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper h1 {
    /* height: 100%; */
    /* display: flex; */
    /* position: absolute; */
    /* justify-content: center; */
    /* margin-top: 5rem; */
    font-size: 45px;
    color: white;
    margin: 100px 0 20px;
}

.div{
    margin-bottom: 300px;
}

.accordion {
    width: 1000px;
    
}
.item {
    background:#242529;
    margin-bottom: 5px;
    padding: 10px 20px;
    margin: 1rem;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    transition: all 300ms ease;
}
span{
    font-size: 30px;
}
.title {
   color: white;
   border-radius: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;  
}
.content{
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content .show{  

    height: auto;
    max-width: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}

.item:hover{
    background-color: #404040;
}