.contenedor {
  align-items: center;
  display: flex;
  height: calc(100vh - 136px);
  justify-content: center;
  background-color: #242529;
  /* background-image: url('https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
   */
}
.contenedorFormulario {
  border-radius: 40px;
  background-color: #1C1C1C;
  width: max-content;
  /* border: rgb(212, 212, 208); */
  /* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 50px;
  /* width: 1000px;
  height: 660px; */
  color: white;
}

.tittle {
 
  margin-bottom: 50px;
  margin-top: 10px;
}
.subtittleFa{
  /* margin-right: 5px;
  padding-right: 5px; */
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.group2 {
  display: flex;
  margin-bottom: 20px;
  width: 50%;
  /* flex-wrap: wrap; */
  /* justify-content: left;
  width: 402px; */
}

.group {
  display: flex;
  margin-bottom: 20px;
  width: 50%;
  flex-wrap: wrap;
  justify-content: left;
  width: 402px;
}

.subtittle {

  width: 95px;
  
  
}

.input {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  margin-left: 25px;
  box-sizing: border-box;
  background-color: #404040;
  border: none;
  color: white;
  outline: none;
}

.textarea {
  width: 230px;
  height: 59px;
  border-radius: 5px;
  margin-left: 25px;
  box-sizing: border-box;
  background-color: #404040;
  color: white;
  border: none;
  outline: none;
  font-size: 12px;
  resize: none;
}

.buttonCrear {
  background-color: #98f576;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  height: 35px;
  background-color: #98f576;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 120px;
  margin: 0 10px;
  border-radius: 5px;
  transition: all 300ms ease;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.buttonCrear:hover{
  width: 140px;
  border-radius: 30px;
  margin: 0;
}

.contenedorButton{
  display: flex;
  /* flex-direction: ce; */
  justify-content: center;
  margin-top: 30px;
}
.itemsServicios {
  
  margin-left: 0px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  /* flex-wrap: wrap; */
  /* padding-right: 10px; */
  
}

.servicios_div{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
}

.select_servicios{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.subtittleFax{
  font-size: 20px;
  font-weight: 800;
}

.sections {
  display: flex;
  justify-content: center;
}
.left {
  
  flex-direction: column;
  /* height: 60px; */
}
.right {
  /* margin-left: 50px; */
  /* flex-direction: left; */
  /* margin-left: 50px; */
  /* flex-wrap: wrap; */
  /* margin-left: -59px; */
  /* width: 421px; */
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-right: 50px;
}
/* .image {
  width: 400px;
  justify-content: right;
  align-items: center;
  margin-bottom: 50px;
} */
.error input,
.error select,
.error textarea {
  border: 1px red solid;
}

.error p {
  color: red;
  margin-left: 354px;
  font-size: 10px;
  margin-top: -50px;
  text-align:justify;
  width: 300px;
}

@media (max-width: 767px) {
  .sections {
    flex-direction: column;
  }
  .contenedor {
    height: auto;
  }
}

.link_back{
  position: absolute;
  color: black;
  text-decoration: none;
  top: 136px;
  left: 80px;
  font-size: 20px;
  background-color: #98f576;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 0 10px;
  width: 120px;
  transition: all 300ms ease;
}

.link_back:hover{
  width: 140px;
  margin: 0;
  border-radius: 50px;
}

.modal_main{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  color: white;
}

.modal_box{
  width: max-content;
  height: max-content;
  padding: 40px;
  background-color: #242529;
  border-radius: 30px;
}

.modal_box p{
  font-size: 20px;
  margin-bottom: 30px;
}

.modal_box h1{
  margin: 30px 0;
}

.modal_btns{
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.modal_btns button{
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
  border: none;
  cursor: pointer;
}

.modal_btns button:hover{
  padding: 8px 40px;
  border-radius: 30px;
}