.contenedor {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80');
  
}
.contenedorFormulario {
  border-radius: 8px;
  background-color: #242529b3;
  border: solid yellow;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
  width: 1000px;
  height: 660px;
}

.tittle {
 
  margin-bottom: 50px;
  color: #98f576;
  margin-top: 10px;
}
.subtittleFa{
  color: #98f576;
  margin-right: 5px;
  padding-right: 5px;
}

.group {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: left;
  width: 402px;
}

.subtittle {

  width: 95px;
  color: #98f576;
  
  
}

.input {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  margin-left: 25px;
  box-sizing: border-box;
  background-color: rgba(250, 235, 215, 0.708);
}

.textarea {
  width: 230px;
  height: 59px;
  border-radius: 5px;
  margin-left: 25px;
  box-sizing: border-box;
  background-color: rgba(250, 235, 215, 0.708);
  color: black;
  font-size: 12px;
}

.buttonCrear {
  background-color: #98f576;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  height: 35px;
  margin-top: 60px;
  width: 190px;
  background-color: #98f576;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  margin-left: 130px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}
.contenedorButton{
  display: flex;
  flex-direction: left;
}
.itemsServicios {
  
  margin-left: 0px;
  color: #98f576;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  padding-right: 10px;
  width: 500px;
  
}
.sections {
  display: flex;
  justify-content: center;

  height: 500px;
}
.left {
  
  flex-direction: column;
  height: 60px;
}
.right {
  margin-left: 50px;
  flex-direction: left;
  margin-left: 50px;
  flex-wrap: wrap;
  margin-left: -59px;
  width: 421px;
  display: flex;
}
.image {
  width: 400px;
  justify-content: right;
  align-items: center;
  margin-bottom: 50px;
}
.error input,
.error select,
.error textarea {
  border: 1px red solid;
}

.error p {
  color: red;
  margin-left: 354px;
  font-size: 10px;
  margin-top: -50px;
  text-align:justify;
  width: 300px;
}

@media (max-width: 767px) {
  .sections {
    flex-direction: column;
  }
  .contenedor {
    height: auto;
  }
}
