.main{
    display: flex;
    background-color: #242529;
    border-radius: 35px;
    width: 1000px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.img{
    max-width: 200px;
    border-radius: 35px 0 0 35px;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 35px;
}

.title h2{
    font-size: 30px;
}

.title p{
    font-size: 20px;
}

.div_price{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 50px;
}

.main input{
    color: white;
    background-color: #5B0D11;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 0 35px 35px 0;
    transition: all 300ms ease;
    cursor: pointer;
}

.main input:hover{
    background-color: #92161c;
}