.statsplan {
  color: black;
  display: grid;
  justify-items: center;
  justify-content: center;
}

.container {
  display: flex;
  font-style: italic;
}

.none {
  background-color: #F3DE2C;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.basico {
  background-color: #7CB518;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
}
.club {
  background-color: #5C8001;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
}
.premium {
  background-color: #FBB02D;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 10px;
}

.grafico {
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  color: black;
  width: 600px;
}
