
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');



.container{
    width: 80%;
    margin: 50px auto;
}

.img{
    object-fit: cover;
    height: 150px;
    width: 100%;
}

.body{
    padding: 170px;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 79%);
    display: flex;
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(10px);
}
.card{
    border: none;
    /* border: 1px solid  rgba(152,245,118,0.3); */
    background: linear-gradient(180deg, rgba(19, 19, 19, 0.9) 0%, rgba(36,37,41,0.9) 48%, rgba(19, 19, 19, 0.9) 100%);
    border-radius:25px 25px 15px 15px;
    overflow: hidden;
    height: 310px;
    display: flex;
    color: white;
}

.h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    width: auto;
    height: auto;
    font-size: 15px;
}

.stars{
    display: flex;
    flex-direction: row;
    color: rgba(152,245,118,1);
    letter-spacing: 4px;
}

.cardBottom{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.address{
    font-family: "Roboto", sans-serif;;
    position: relative;
    font-weight: 400;
}

.address::before{
    content:"";
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(152,245,118,1) 50%, rgba(28,28,28,1) 100%);
    position: absolute;
    top:calc(100% + 3px);
    left: 0;
    right: 0;
    height: 2px;
}

.derecha{
    
    display: flex;
    color: white;
    flex-direction: column;
    margin-top: -50px;
}


.derecha i{
    margin-bottom: 10px;
    align-self: flex-end;
    letter-spacing: 1px;
}  

.flex-grid-center {
	display: flex;
	justify-content: center;
	margin: 5em 0;
}


.button {
	color: rgba(255,255,255,1);
	background: none;
	border-radius: 0;
	padding: 12px;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 13px;
    width: 130px;
	transition: background-color 0.7s, box-shadow 0.7s, color 0.7s;
	box-shadow: inset 0 0 0.5em rgba(152,245,118,0.5), 0 0 0.5em rgba(152,245,118,0.5);
    border: #0dd solid 2px;
}

.button:hover {
    background-color: rgba(152,245,118,0.7);
    box-shadow: inset 0 0 0 rgba(152,245,118,0.5), 0 0 1em rgba(152,245,118,0.5);
}
