.main{
    background-color: #1C1C1C;
    width: 100%;
    min-height: 100vh;
}

.div{
    display: flex;
    width: 100%;
}

.menu{
    width: 300px;
    border-right: 2px solid#404040;
    height: calc(100vh - 86px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul{
    padding: 0;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #404040;
}

.img{
    width: 50px;
    height: 50px;
    background-color: #98F576;
    border-radius: 50%;
    margin-right: 20px;
}

.li,
.li2{
    font-size: 18px;
    padding: 20px 0;
    text-align: left;
    padding-left: 60px;
    list-style: none;
    position: relative;
    transition: all 300ms ease;
    cursor: pointer;
}

.li:hover{
    background-color: #242529;
}

.li::after{
    content: '';
    width: 0px;
    height: 100%;
    background-color: #7070702f;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 300ms ease;
}

.li:hover::after{
    content: '';
    width: 15px;
    height: 100%;
    background-color: #98F576;
    position: absolute;
    top: 0;
    right: 0;
}

.menu p{
    font-size: 18px;
    padding: 20px 0;
    text-align: left;
    padding-left: 60px;
}