.main {
  background-color: #1c1c1c;
  width: 100%;
  min-height: 100vh;
}

.div {
  display: flex;
  width: 100%;
}

.menu_container{
  width: 300px;
  border-right: 2px solid#404040;
  min-height: calc(100vh - 86px);
}

.menu {
  width: 300px;
  border-right: 2px solid#404040;
  height: calc(100vh - 86px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu ul {
  padding: 0;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #404040;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.li,
.li2 {
  font-size: 18px;
  padding: 20px 0;
  text-align: left;
  padding-left: 60px;
  list-style: none;
  position: relative;
  transition: all 300ms ease;
  cursor: pointer;
}

.li:hover {
  background-color: #242529;
}

.li::after {
  content: "";
  width: 0px;
  height: 100%;
  background-color: #7070702f;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 300ms ease;
}

.li:hover::after {
  content: "";
  width: 5px;
  border-radius: 5px 0 0 5px;
  height: 100%;
  background-color: #98f576;
  position: absolute;
  top: 0;
  right: 0;
}

.lia {
  font-size: 18px;
  padding: 20px 0;
  text-align: left;
  padding-left: 60px;
  list-style: none;
  position: relative;
  transition: all 300ms ease;
  background-color: #242529;
  cursor: pointer;
}

/* .lia:hover {
  background-color: #242529;
} */

.lia::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: #98f576;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 300ms ease;
}

.menu p {
  font-size: 18px;
  padding: 20px 0;
  text-align: left;
  padding-left: 60px;
}

.content {
  flex: 1;
  background-color: #242529;
}

.link {
  color: white;
}

.li a {
  text-decoration: none;
}

.contentInfo {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
  padding: 30px;
}

.divInfo {
  font-size: 22px;
  color: white;
  width: 300px;
  margin: 15px;
}

.info {
  width: 100%;
  text-align: left;
}

.zone {
  background-color: #404040;
  width: 100%;
  height: 200px;
  display: grid;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
}

.zoneBooking{
  font-size: 18px;
  text-align: left;
}

.modal_main{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modal_box{
  width: max-content;
  height: max-content;
  padding: 40px;
  background-color: #242529;
  border-radius: 30px;
  color: white;
}

.modal_box p{
  font-size: 20px;
  margin-bottom: 30px;
}

.modal_box h1{
  margin: 20px 0;
  font-size: 50px; 
  animation: check 500ms ease-out;
}

.modal_btns{
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.modal_btns button{
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.modal_btns button:hover{
  padding: 8px 40px;
  border-radius: 30px;
}