@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;1,500&display=swap');
*{
  box-sizing: border-box;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1C1C1C;
  padding: 70px 20px;
  width: 100%;
  flex-direction: column;
}

.contact h1{
  margin: 0;
  /* display: flex; */
  color: white;
  /* position: absolute; */
  font-size: 45px;
  width: 100%;
  height: 100%;
  /* justify-content: center; */
}
/* .container {
  display: flex;
  width: 1250px;
  height: 75vh;
  background-color: #242529;
  border-radius: 50px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
  
} */

.cardContainer {
  display: flex;
  width: 550px;
  height: 75vh;
  margin: 0;
  background-color: #404040;
  border-radius: 50px;
}

.info{
  margin: 1rem 0 ;
  padding: 1rem;
  display: inline;
  text-align: justify;
  color: white;
  border-radius: 20px;
}

.info h3 {
  margin: 1rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.info p{
  font-size: 25px;
  color: white;
  font-weight: 400;
  font-family: 'Merriweather Sans';
  margin: 5rem;
}

.social{
  background-color: transparent;
  color: #98F576;
  font-size: 25px;
  font-weight: 600;
}



.formContainer{
display: flex;
justify-content: center;
align-items:center;
text-align: justify;
height: 100%;
width: 50%;
font-size: 20px;

}

.formik{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 400px;
}

.div_camp{
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.formContainer label{
  margin: 0rem;
  /* justify-content: center;
  display: initial; */
  color: white;
  font-weight: 600;
  font-family: 'Merriweather Sans';
  position: relative;
  text-align: left;
}

.name_label,
.email_label{
  transform: translateY(22px);
}

.formContainer input{
  width: 100%;
  border:0;
  border-bottom: solid 1px white;
  display: flex;
  background: none;
  font-family: 'Merriweather Sans';
  position: relative;
  font-size: 18px;
  outline: none;
  color: white;
  transition: all 300ms ease;
}

.formContainer input:hover{
  margin-top: 6px;
  border-bottom: solid 1px #98F576;
}

.formContainer input:active,
.formContainer input:focus{
  margin-top: 22px;
  border-bottom: solid 1px #98F576;
}

.formContainer textarea{
  width:100%;
  height: 10vh;
  
  border: none;
  outline: none;
  /* border-bottom: solid 1px white; */
  background-color:#404040;
  font-family: 'Merriweather Sans';
  justify-content: center;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  resize: none;
}

/* .formContainer form input, textarea{
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  border-radius: 4px;
  justify-content: center;
  width: 70%;
  color:rgb(202, 199, 199);
  position: relative;
} */


/* .btn {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
  margin: 1rem;
  font-family: 'Merriweather Sans';
  position: relative;
}

.btn:hover{
background-color: #98F576;

} */

.btn{
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: black;
  padding: 8px 15px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
}

.btn:hover{
  padding: 8px 30px;
  border-radius: 30px;
}

.error{
  color: #b11b23;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  margin: 0.3rem;
  font-family: 'Merriweather Sans';
}
.exito {
  color: rgb(16, 159, 16);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Merriweather Sans';
  margin: 0;
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------------- */

.main{
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #1C1C1C;
  transition: all 500ms ease-out;
}

.container{
  background-color: #242529;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  /* transform: translateY(600px); */
  height: 700px;
}

.title{
  color: white;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #242529;
  display: flex;
  padding: 20px;
  height: 80px;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
  transition: all 300ms ease;
}

.title:hover{
  height: 100px;
  top: -100px
}

.title h1{
  font-size: 18px;
}

.infoContainer{
  display: flex;
  padding: 50px;
  align-items: flex-start;
  height: 700px;
  justify-content: space-between;
}