.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.container{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.container p{
    font-size: 20px;
}

.container h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon{
    width: 30px;
    cursor: pointer;
}

.container form{
    display: flex;
    height: 40px;
    overflow: hidden;
}

.inp{
    font-size: 30px;
    background: none;
    border: none;
    border-bottom: 1px solid #404040;
    color: white;
    outline: none;
    transition: all 300ms ease;
    margin-right: 30px;
}

.inp:active,
.inp:focus{
    border-bottom: 3px solid #98F576;
    background: none;
}

.actualizar{
    background: none;
    background-image: url(../../../img/icons/check.svg);
    background-size: 50px;
    background-position: 50% 50%;
    border: none;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

.actualizar:hover{
    transform: rotate(360deg);
}

.cancelar{
    background: none;
    background-image: url(../../../img/icons/x.svg);
    background-size: 50px;
    background-position: 50% 50%;
    border: none;
    bottom: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 300ms ease;
}

.cancelar:hover{
    transform: rotate(180deg);
}

.deleteBtn{
    cursor: pointer;
    border: none;
    width: 180px;
    height: 30px;
    margin-top: 7rem;
    margin-left: 42rem;
    border-radius: 20px;
    transition: all 300ms ease;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: transparent;
}

.deleteBtn:hover{
    background-color: red;
    color: white;
}