.container {
    width: 100%;
    background-color: #1C1C1C;
}

.acciones {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
    gap: 100px;
 
    /* flex-direction: column; */
    /* margin-left: 400px; */
    background-color: #1C1C1C;
    /* border-radius: 15px; */
    height: 72px;
    border-bottom: 2px solid #404040;
}

.info{
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-around;
}

.btn {
    /* margin: 1.5rem; */
    /* width: 50%; */
    /* height: 30px; */
    background: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 300ms ease;
    border-radius: 15px;
    border: 0;
    color: gray;
}

.btna {
    /* margin: 1.5rem; */
    /* width: 50%; */
    /* height: 30px; */
    background: none;
    font-size: 18px;
    cursor: pointer;
    transition: all 300ms ease;
    border-radius: 15px;
    border: 0;
    color: white;
}

.btn:hover{
    color: white;
}

.h3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-align: left;
}