.tablecards {
  display: grid;
  justify-items: stretch;
  margin: 10px 70px;
  min-height: 62vh;
}

.tablecards table {
  background-color: #404040;
  border-collapse: collapse;
  color: white;
}

.tablecards thead {
  background-color: #98F576;
  color: black;
  border-bottom: 1px solid #404040;
}

.tablecards thead th {
  padding: 10px 0;
}

.tablecards tr:nth-child(even) {
  background-color: #1C1C1C;
}

.tablecards th,
td {
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.edit {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.edit svg{
  color: rgb(153, 153, 153);
  transition: color 300ms ease;
}

.edit:hover svg{
  color: white;
}

.dissap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.approve{
  cursor: pointer;
  border: none;
  background: none;
  margin-left: 10px;
}

.approve svg{
  color: rgb(153, 153, 153);
  transition: color 300ms ease;
}

.approve:hover svg{
  color: #98F576;
}

.delete {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.delete svg{
  color: rgb(153, 153, 153);
  transition: color 300ms ease;
}

.delete:hover svg{
  color: #cc2028;
}
