.tablecards {
  display: grid;
  justify-items: stretch;
  margin: 10px 70px;
  min-height: 62vh;
}

.tablecards table {
  background-color: white;
  border-collapse: collapse;
}

.tablecards thead {
  background-color: #105b10;
  color: white;
  border-bottom: 1px solid #404040;
}

.tablecards thead th {
  padding: 10px 0;
}

.tablecards tr:nth-child(even) {
  background-color: #ddd;
}

.tablecards th,
td {
  padding: 5px;
}

.edit {
  background-color: skyblue;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.edit:hover{
    background-color: rgb(115, 186, 214);
}

.approve{
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #98F576;
  padding: 5px 5px;
  margin-left: 5px;
}

.approve:hover{
  background-color: #81e05e;
}

.delete {
  background-color: tomato;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.delete:hover{
    background-color: rgb(228, 78, 52);
}
