.tablecards {
    display: grid;
    justify-items: stretch;
    margin: 10px 70px;
    min-height: 62vh;
  }
  
  .tablecards table {
    width: 100%;
    color: white;
    border-collapse: collapse;
  }
  
  .tablecards thead {
    background-color: #98F576;
    color: black;
    border-bottom: 1px solid #404040;
  }
  
  .tablecards thead th {
    padding: 10px 0;
  }
  
  .tbody tr{
    border-bottom: 1px solid #4040401e;
    /* background-color: #ddd; */
  }
  
  .tbody th,
  td {
    padding: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .detail {
    /* background-color: #242529; */
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .detail svg{
    color: rgb(153, 153, 153);
    transition: color 300ms ease;
  }
  
  .detail:hover svg{
    color: white;
  }
  
  .notfound{
    color: #ddd;
    display: grid;
    align-items: center;
    font-size: 30px;
    font-style: italic;
  }