@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,600;1,500&display=swap');
*{
  box-sizing: border-box;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1C1C1C;
  padding: 0 20px;
  
}

.contact h1{
  margin: 0;
  display: flex;
  color: white;
  position: absolute;
  font-size: 45px;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.container {
  display: flex;
  width: 1250px;
  height: 75vh;
  background-color: #242529;
  border-radius: 50px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
  
}



.cardContainer {
  display: flex;
  width: 550px;
  height: 75vh;
  margin: 0;
  background-color: #404040;
  border-radius: 50px;
}

.info{
  margin: 1rem 0 ;
  padding: 1rem;
  display: inline;
  text-align: justify;
  color: white;
  border-radius: 20px;
  

}

 h3 {
  margin: 1rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
p{
  font-size: 25px;
  color: white;
  font-weight: 400;
  font-family: 'Merriweather Sans';
  margin: 5rem;
}


.social{
  background-color: transparent;
  color: #98F576;
  font-size: 25px;
  font-weight: 600;
}



.formContainer{
display: flex;
justify-content: center;
align-items:center;
text-align: justify;
height: 100%;
margin-left: 10rem;
font-size: 20px;

}

.formContainer label{
  margin: 0rem;
  justify-content: center;
  display: initial;
  color: white;
  font-weight: 600;
  font-family: 'Merriweather Sans';
  margin-right: 10rem;
  position: relative;

}


.formContainer input{
  width: 500px;
  border:0;
  border-bottom: solid 1px white;
  display: flex;
  background-color: #242529;
  font-family: 'Merriweather Sans';
  position: relative;
  
}


.formContainer textarea{
  width:100%;
  height: 10vh;
  
  border-bottom: solid 1px white;
  background-color:#242529;
  font-family: 'Merriweather Sans';
  justify-content: center;
  
}

.formContainer form input, textarea{
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 1rem 0;
  border-radius: 4px;
  justify-content: center;
  width: 70%;
  color:rgb(202, 199, 199);
  position: relative;
}


button {
  width: 90%;
  height: 40px;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
  margin: 1rem;
  font-family: 'Merriweather Sans';
  position: relative;
}

button:hover{
background-color: #98F576;

}
.error{
  color: red;
  font-weight: 200;
  display: flex;
  margin: 0.3rem;
  font-family: 'Merriweather Sans';
}
.exito {
  color: rgb(16, 159, 16);
  font-size: 20px;
  font-weight: 600;
  font-family: 'Merriweather Sans';
  margin: 0;
  display: flex;
  justify-content: center;
}


