.tablecards {
  display: grid;
  justify-items: stretch;
  margin: 10px 70px;
  min-height: 62vh;
}

.tablecards table {
  background-color: #404040;
  border-collapse: collapse;
  color: white;
}

.tablecards thead {
  background-color: #98F576;
  color: black;
  border-bottom: 1px solid #404040;
}

.tablecards tr:nth-child(even) {
  background-color: #1C1C1C;
}

.tablecards th{
    margin-left: 0;
    margin-right: 0;
}

.tablecards th,
td {
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
