.main{
    min-height: 100vh;
    background-color: #1C1C1C;
}

.text{
    margin: 100px;
    color: white;
    font-size: 20px;

    animation: in1 1.5s ease;
    animation-delay: 1s;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;

    animation: in2 1.5s ease;
    animation-delay: 1s;
}

@keyframes in1{
    from{filter: blur(20px)}
    to{filter: blur(0)}
}

@keyframes in2{
    from{transform: translateY(180px);}
    to{transform: translateY(0);}
}