.main{
    min-height: 100vh;
    background-color: #1C1C1C;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text, .container h3{
    margin-top: 40px;
    color: white;
    font-size: 20px;
    width: 80%;
    animation: in1 1.5s ease;
    animation-delay: 1s;
}

.players{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    gap: 50px;
}

.card{
    height: 300px;
}

.profileLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -15px;
    gap: 20px;
}

.linkProfile{
    height: 40px;
}

.wave{
    position: relative;
    bottom: 0;
    left: 0;

    animation: in2 1.5s ease;
    animation-delay: 1s;
}

@keyframes in1{
    from{filter: blur(20px)}
    to{filter: blur(0)}
}

@keyframes in2{
    from{transform: translateY(180px);}
    to{transform: translateY(0);}
}