.wrapper {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #1C1C1C;
    border-top: 3px solid #404040;
    justify-content:space-around;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.logoDer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.3rem
}

.top{
    width: 70px;
    margin-top: -1.5rem;
}

.socialGroup{
    color: #98F576;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

.derechos p{
    font-size: 15px;
    color: white;
}

.socialIcon{
    width: 25px;
    gap: 1rem;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}

.medios p{
    color: #ffffff;
    margin-right: 10px;
}

.medios{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mp{
    height: 30px;
}