.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 70px;
}

.tittle {
  margin-top: 100px;
  color: #98f576;
  margin-bottom: 50px;
}

.date :global .MuiPickersCalendarHeader-switchHeader button {
  z-index: 0;
}

.date :global .MuiPickersToolbar-toolbar {
  background: rgba(23, 198, 23, 0.81);
}
.date :global .MuiPickersDay-daySelected {
  background: rgba(0, 128, 0, 0.647);
}

.contenedorSelect {
  display: flex;
  flex-direction: column;
}

.MuiPickersToolbar-toolbar {
  background-color: #98f576;
}

.select {
  height: 35px;
  border-radius: 5px;
  background-color: rgba(245, 245, 220, 0.688);
  font-weight: bold;
  margin-bottom: 30px;
}

.option {
  font-weight: bold;
}

.buttonReserve {
  width: 100%;
  height: 35px;
  background-color: #98f576;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
  border-radius: 5px;
}
