.principalContainer {
  background-color: black;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-right: 80px;
}
.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  background: black;
}
.tittle {
  margin-top: 100px;
  color: #98f576;
  margin-bottom: 50px;
}

.date {
  margin-right: 80px;
  border-radius: 5px;
}

.date :global .MuiPickersCalendarHeader-switchHeader button {
  z-index: 0;
}

.date :global .MuiPickersToolbar-toolbar {
  background: rgba(23, 198, 23, 0.81);
}
.date :global .MuiPickersDay-daySelected {
  background: rgba(0, 128, 0, 0.647);
}

.contenedorSelect {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: -60px;
}

.MuiPickersToolbar-toolbar {
  background-color: #98f576;
}

.select {
  margin-top: 0px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  background-color: rgba(245, 245, 220, 0.688);
  color: black;
  font-weight: bold;
  margin-bottom: 33px;
}

.option {
  font-weight: bold;
  background-color: rgba(245, 245, 220, 0.688);
}

.buttonReserve {
  width: 120px;
  height: 35px;
  background-color: #98f576;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 15px;
  margin-top: 180px;
  margin-left: 20px;
  border-radius: 5px;
}

.ball {
  width: 340px;
  height: 430px;
  margin-top: 20px;
  padding-left: 50px;
}
