.container {
  border-bottom: 2px solid #404040;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #1C1C1C;
  height: 84px;
  align-items: center;
}

.containerLogo {
  display: flex;
  width: 800px;
}

.logo {
  max-width: 400px;
}

.containerLink {
  display: flex;
  /* width: 100px;
  width: 600px;
  padding-right: 20px 20px 20px 20px; */
  justify-content: space-between;
  text-align: center;
  width: 20%;
}

.containerLink a{
  text-decoration: none;
  transition: all 300ms ease;
}

.containerLink a:hover p{
  color: white;
}

.containerLink p{
  color: rgb(145, 145, 145);
  font-size: 20px;
  margin: 0;
  transition: all 300ms ease;
}

.linkUs {
  color: azure;
  width: 85px;
  font-size: 17px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  margin-left: 279px;
  margin-right: 17px;
  list-style: none;
  border-radius: 2px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

  transition: all 300ms ease;
}

.linkLogin {
  color: azure;
  width: 120px;
  font-size: 17px;
  height: 30px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  
  transition: all 300ms ease;
}

.linkUs:hover {
  background: gray;
}

.linkLogin:hover {
  background: gray;
}

.inse{
  width: 400px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.inse_link{
  color: black;
  padding: 8px 15px;
  width: 140px;
  margin: 0 10px;
  background-color: #98F576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
}

.inse_link:hover{
  width: 160px;
  margin: 0;
  border-radius: 30px;
}

.inse2{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img{
  width: 50px;
  height: 50px;
  /* background-color: #98F576; */
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  object-fit: cover;
}
