@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;600;700&display=swap%27');



.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 200px 0 0;
    padding-bottom: 200px;
}

.columnas{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.img {
    align-self: center;
    width: 100px;
    height: 100px;
}


.title{
    text-align:center;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.p{

    text-align: center;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 100;
    margin: 30px 0;
}