.adminfields {
  /* background-color: #1c1c1c;
  height: 100%; */
  margin-top: 50px;
}

.title{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px 50px;
  align-items: center;
}

.button {
  color: black;
  padding: 8px 15px;
  background-color: #98f576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
  border: none;
  width: max-content;
  margin: 0 auto;
}

.button:hover {
  padding: 8px 30px;
  border-radius: 30px;
  cursor: pointer;
}
