.admindelete {
  /* background-color: #1c1c1c;
  min-height: 100vh; */
  margin: 50px 0;
}

.title {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 30px;
}

.button {
  color: black;
  padding: 8px 15px;
  background-color: #98f576;
  text-decoration: none;
  border-radius: 5px;
  transition: all 500ms ease;
  border: none;
  width: max-content;
  margin: 0 auto;
}

.button:hover {
  padding: 8px 30px;
  border-radius: 30px;
  cursor: pointer;
}
